nav {
    background: #0F1013;
    padding: 8px 15px 6px 15px;
    width: 100%;
    display: block;
    position: fixed;
    justify-content: space-between;
    clear: both;
    z-index: 2;
}

nav .nav-left {
    float: left;
}

nav .nav-left a {
    left: 60px;
    z-index: 7;
    position: relative;
}

nav .nav-right {
    float: right;
    display: flex;
}

nav .logo {
    height: 25px;
    width: auto;
    margin-top: 10px;
}

nav i {
    color: #828282;
    font-size: 28px;
}

nav .img-live {
    height: 20px;
    width: auto;
    margin-right: 13px;
    margin-right: 16px;
}

nav .nav-right a {
    display: flex;
    align-items: center;
    height: 43px;
}

.menu-hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 25px;
    width: 25px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 8;
}

.menu-hamburger span,
.menu-hamburger span::before,
.menu-hamburger span::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 2.5px;
    background: #828282;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-hamburger span::before {
    top: -8px;
}

.menu-hamburger span::after {
    top: 8px;
}

.menu-hamburger.active>span {
    background: transparent;
}

.menu-hamburger.active>span::before,
.menu-hamburger.active>span::after {
    background: #828282;
    top: 0px;
}

.menu-hamburger.active>span::before {
    transform: rotate(-225deg);
}

.menu-hamburger.active>span::after {
    transform: rotate(225deg);
}

.search-open {
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    top: 10px;
}

.search-open span {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #828282;
    transform: rotate(-45deg);
}

.search-open span::before {
    height: 12px;
    position: absolute;
    top: 13px;
    width: 7px;
    content: '';
    border-right: 2px solid #828282;
}

.search-open.active>span {
    height: 25px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 3px solid #828282;
    border-radius: 0px;
    top: -5px;
    right: 2px;
}

.search-open.active>span::before {
    height: 25px;
    position: absolute;
    top: 1.5px;
    left: -4px;
    width: 7px;
    content: '';
    border-right: 3px solid #828282;
    transform: rotate(-90deg);
}

.search {
    padding: 15px;
    top: 0px;
    width: 100%;
    position: fixed;
    height: 0px;
    background: #0F1013;
    transition: 0.1s;
    z-index: 1;
    border-top: 1px solid #000;
}

.search.active {
    height: 65px;
    top: 60px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.search .wrap-search {
    width: 100%;
    background: #fff;
    display: block;
    height: 35px;
    padding: 5px 7px;
    border-radius: 5px;
}

.search .wrap-search input[type="text"] {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0px;
    display: block;
    font-size: 14px;
}