.c-blue-ocean {
    color: #56CCF2 !important;
}

.c-yellow {
    color: #FFED44 !important;
}

.c-green {
    color: #6FCF97 !important;
}

.c-grey-1 {
    color: #F2F2F2 !important;
}

.c-orange {
    color: #F2994A !important;
}