.icon-svg {
    background-size: cover;
    width: 38px;
    height: 38px;
    display: inline-block;
}

.icon-svg-fb-color {
    background: url('../icons/fb-color.svg') no-repeat;
}

.icon-svg-tw-color {
    background: url('../icons/tw-color.svg') no-repeat;
}

.icon-svg-ig-color {
    background: url('../icons/ig-color.svg') no-repeat;
}

.icon-svg-yt-color {
    background: url('../icons/yt-color.svg') no-repeat;
}